body{
  background-color: rgb(210, 231, 236);
}

.hoverbtn {
  position: relative;
  cursor: pointer;
  text-align: center;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.hoverbtn:hover {
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out; 

}
:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: orangered;
  bottom: -2px;
  left: 0px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hoverbtn:hover::before {
  transform: scaleX(1);
}
.dark{
  display:inline-block;
}
.bg{
  background-color: black;
  /* color: white;/ */
}


.scroll::-webkit-scrollbar{
width: 0;
height: 0;
}


.scrollbar-hide::-webkit-scrollbar{
  width: 0;
}

::-webkit-scrollbar{
  width: 0;
  height: 0;
}